<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BackupFolder" value="\\fs\backup\database" />
    <add key="TargetServer" value="localhost" />
    <add key="SplitDatabases" value="DOCUMENTS,MESSAGES" />

    <!-- uncomment and see console output to troubleshoot email appender
    <add key="log4net.Internal.Debug" value="true"/>
    -->
  </appSettings>

  <!--workaround for issue in SMO which does not fully support .NET 4.0, see http://stackoverflow.com/questions/8534682/smo-assemblies-in-net-framework-4-0 -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
