<?xml version="1.0" encoding="utf-8"?>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\ConsoleRestore.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="PreserveLogFileNameExtension" value="true"/>
      <DatePattern value="-yyyy-MM-dd"/>
      <RollingStyle value="Date"/>
      <MaxSizeRollBackups value="10"/>
      <MaximumFileSize value="10MB"/>
      <StaticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[START LOG]%newline"/>
        <footer type="log4net.Util.PatternString" value="[END LOG]%newline"/>
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline"/>
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <!-- example for gmail; NOTE: gmail disabled basic auth by default, set 'Enable Less Secure Apps' in account settings -->
      <to value="MySupport@gmail.com, MoreSupport@example.com" />
      <from value="MyRobot@gmail.com" />
      <subject value="database restoration report" />

      <smtpHost value="smtp.gmail.com" />
      <port value="587" />
      <enableSsl value="true" />
      <authentication value="Basic" />
      <Username value="MyRobot"/>
      <Password value="password"/>

      <priority value="High"/>
      <bufferSize value="50" />
      <lossy value="false" />

      <evaluator type="log4net.Core.LevelEvaluator">
        <!--set to WARN to skip regular reports and only see receive alarms when there's an issue-->
        <threshold value="INFO"/>
      </evaluator>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %-5level - %message%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="RestoreBackupLib.RestorationSummary" additivity="true">
      <appender-ref ref="SmtpAppender" />
    </logger>

  </log4net>
